body{
    margin:0;
    background:#111;
    color:white;
    text-align:center;
    font-family:Arial;
}
h1{
    margin-top:20px;
}

.scene{
    width:300px;
    height:300px;
    margin:60px auto;
    perspective:1000px;
}

.carousel{
    width:100%;
    height:100%;
    position:relative;
    transform-style:preserve-3d;
    animation:rotate 10s linear infinite;
}

.carousel img{
    position:absolute;
    width:180px;
    height:180px;
    left:60px;
    top:60px;
    border-radius:10px;
    object-fit:cover;
}

.carousel img:nth-child(1){
    transform:rotateY(0deg) translateZ(220px);
}

.carousel img:nth-child(2){
    transform:rotateY(60deg) translateZ(220px);
}

.carousel img:nth-child(3){
    transform:rotateY(120deg) translateZ(220px);
}

.carousel img:nth-child(4){
    transform:rotateY(180deg) translateZ(220px);
}

.carousel img:nth-child(5){
    transform:rotateY(240deg) translateZ(220px);
}

.carousel img:nth-child(6){
    transform:rotateY(300deg) translateZ(220px);
}

@keyframes rotate{

from{
transform:rotateY(0deg);
}

to{
transform:rotateY(360deg);
}

}
